include ../_util-fns

:marked
   We want our data to be accurate and complete. By helping the user enter
   appropriate data and confirming that data is valid, we can improve the quality of the incoming data.
   
   In this cookbook we show several techniques for validating data and displaying useful validation messages.
  
   In our example we use the form created in the Forms chapter under Basics.

<a id="toc"></a>
:marked
   ## Table of contents

      [Template-Driven](#template-driven)

      [Model-Driven with Data Binding](#model-driven-binding)

      [Model-Driven](#model-driven)

:marked
   **See the [live example](/resources/live-examples/cb-validation/ts/plnkr.html)**.


